@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app. @banan
<SurveyPrompt Title="How is Blazor working for you?" />

<img src="sti.jpeg" alt="Bird" style="width: calc(100vw - 241px); height: 1000px; ">


@code{
    public string banan = "banan";

}