@page "/rps"
@using BlazorPractice.Data

<h3>RPS</h3>

<div>
    <p>Select your move:</p>
    <button @onclick="() => Play(RPSenum.Rock)">Rock</button>
    <button @onclick="() => Play(RPSenum.Paper)">Paper</button>
    <button @onclick="() => Play(RPSenum.Scissors)">Scissors</button>
</div>
    
<div>
    <p>Computer chose: @gameData.ComputerChoice</p>
    <p>Result: @gameData.GameResult</p>
</div>

@code {
     private RPSdata gameData = new RPSdata();

     private void Play(RPSenum choice)
    {
        gameData.PlayGame(choice);
    }
}
